/* Services Icon */
.col-services span {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}
.icon {
	color: var(--background-color) !important;
	transition: 2s;
	transform: scale(0.5);
}
.icon:hover {
	color: #000 !important;
	transform: scale(0.5) translateY(-15px);
}
