:root {
	--default-background-color: #aaaa;
	--background-color: #0ac0f9;
	--text-color: #fff;
	--default-text-color: #000;
	--letter-spacing: 0.1rem;
	--line-height: 1.5rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Poppins' Arial, Helvetica, sans-serif;
}
main {
	min-height: 80vh;
}
.banner {
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
	color: var(--text-color);
	padding: 2rem 1rem;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}

/* Hero */
.defaultHero {
	min-height: 50vh;
	background: url('./assets/lightblue.jpg') center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.8;
}

.defaultContactHero {
	min-height: 50vh;
	background: url('./assets/contact1.jpg') center/cover no-repeat;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.8;
}

.nav-link {
	font-size: 1rem;
	font-weight: bold;
	color: #000 !important;
}
.nav-link:hover {
	color: var(--background-color) !important;
	transition: 1s ease-in-out;
}

a {
	color: var(--default-text-color);
	text-decoration: none;
}
a:hover {
	color: var(--text-color);
}
.worker-img {
	width: 538px;
	height: 600px;
	object-fit: cover;
}
